[program:celeryd]
command=/home/{{ setup.deploy_username }}/.virtualenvs/{{ project_name }}/bin/python {{ django.root_dir }}/manage.py celeryd --loglevel=INFO
directory={{ django.root_dir }}
user={{ setup.deploy_username }}
group=www-data
numprocs=1
stdout_logfile=/var/log/celery/{{ project_name }}_daemon.log
stderr_logfile=/var/log/celery/{{ project_name }}_daemon_error.log
autostart=true
autorestart=true
startsecs=10

environment={% for item in django.env_vars %}{{ item.key }}="{{ item.value }}"{% if not loop.last %},{% endif %}{% endfor %}

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 600
